p.txt-height {
    line-height: 1rem;
    font-size: .9rem;
    font-weight: 450;
    text-transform: capitalize;
}
::placeholder{
    text-align: left;
    padding-left:1rem;
    font-size: 1.3rem;
    color: rgb(212, 212, 212);
}
a{
    text-decoration: none;
}

p.py-0.my-0.h1.txt-height {
    line-height: 1.1rem;
    font-size: 1.2rem;
    font-weight: 700;
}
.search{
    border: none;
    background-color: transparent;
    outline: none;
}

.search:focus,input:focus{
    border: none;
    background-color: transparent;
    outline: none;
}
.fa.fa-search{
    color: rgb(199, 199, 199);
    font-size: 1.5rem;
    font-weight: 100;
    
}
.fa.fa-search:hover{
    color: rgb(92, 92, 92);
    font-size: 1.5rem;
    font-weight: 100;
    
}
.shadow{
    border: solid .5px rgb(160, 160, 160);
    box-shadow:  0px 0px 9px grey;
    border-radius: 5px;
}
.btn.btn-outline-primary button{
    border-color: blue;
    color: blue;
    border-width: 2px;
    background-color: transparent;
}
.detail p{
    text-transform: capitalize;
    line-height: .8rem;
    text-align: left;
}
.btn:hover a{
    text-decoration: none;
    color: aliceblue;
}
p .txt-height{
    font-size: 1rem;
    font-weight: 500;
}

